a {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

.go-apps-btn {
	padding: 4px 9px;
	background-color: transparent; 
	color: white; border: 1px solid; 
	border-radius: 8px;
}

.container.content-window {
	margin-top: 150px;

	position: relative;
	z-index: 50;
}