{% extends 'accounts/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Home - &lt;Ctrl&gt;CRM{% endblock %}

{% block addCSSlink %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/home.css' %}">
{% endblock %}

{% block contentBody1 %}
    {% if not user.is_authenticated %}
        <div class="container login-window">
        <h1>CRM Account</h1>
        <p>Log in to manage all your Client and Documents</p>

        <a href="{% provider_login_url 'google' %}?next=/">
            <button class="login-btn google">
                <img src="{% static 'accounts/icons/google-icon.svg' %}" alt="">
                <span>Continue with Google</span>
            </button>
        </a>

        <a href="{% url 'signin' %}" >
            <button class="login-btn microsoft">
                <img src="{% static 'accounts/icons/microsoft-icon.svg' %}" alt="">
                <span>Continue with Microsoft</span>
            </button>
        </a>

        <button class="login-btn apple">
            <img src="{% static 'accounts/icons/apple-icon.svg' %}" alt="">
            <span>Continue with Apple</span>
        </button>

        <div class="separator">or</div>

        <a href="{% url 'login' %}">
            <button class="login-btn email">
                <img src="{% static 'accounts/icons/email-icon.svg' %}" alt="">
                <span>Continue with email</span>
            </button>
        </a>

        <p class="new-here">
            New here? <a href="{% url 'register' %}">Create an account</a>
        </p>

        <div style="width: 100%; height: .1px; background-color: rgb(209, 202, 202); margin: 20px 0px;"></div>
            <p class="agreement">By continuing, you agree to the Account Agreement</p>
        </div>

        <footer>
            <div class="footer-left">

                <a href="#">Source Code</a>
                <a href="#" style="color: #f81212;">Privacy Policy</a>
                <a href="#" style="color: #f81212;">Account Agreement</a>
            </div>
            <div class="footer-right"></div>
        </footer>
    {% endif %}


    {% if user.is_authenticated %}
        <div class="container content-window">
            You are logged in as <strong>{{ businessuser.company_name }}</strong>.
            <br>
            <a href="{% url 'appDashboard' %}">
                Go to Dashboard
            </a>
        </div>
    {% endif %}
{% endblock %}