.icon-button:focus,
.icon-button:hover,
.icon-button:active {
	outline: none;
}

.more-btn,
.icon-button {
	background-color: var(--featuredApp-contacts-icon-button-background-color);
	color: var(--featuredApp-contacts-icon-button-color);
}

.more-btn:hover {
	color: green;
}

.icon-button.edit:hover {
    color: green;
}

.icon-button.delete:hover {
    color: red;
}

.active-more {
	color: red;
}

.division-line-h2 {
    margin: 20px 0; 
    border-color: var(--featuredApp-dashboard-division-line-h2);
}

table tr, table td {
	border-bottom: 1px solid var(--featuredApp-contacts-table-border-color);
}

a:hover {
	color: var(--featuredApp-contacts-a-hover);
}

input[type="checkbox"] {
	accent-color: var(--featuredApp-contacts-checkbox-accent-color);
}

.form-control {
	background-color: var(--featuredApp-contacts-form-control-input-bg);
	color: var(--featuredApp-contacts-form-control-input-color);
	border: 1px solid var(--featuredApp-contacts-form-control-input-border);
	caret-color: var(--featuredApp-contacts-form-control-input-caret-color);
}

.form-control::placeholder {
	color: var(--featuredApp-contacts-form-control-input-placeholder);
}

.form-control:focus {
	background-color: var(--featuredApp-contacts-form-control-input-bg);
	color: var(--featuredApp-contacts-form-control-input-color);
	/*border-color: var(--featuredApp-contacts-form-control-input-focus-border);*/
}

.close-popup-btn,
.content-section,
.add-pop-up-window {
	background-color: var(--featuredApp-contacts-form-add-pop-up-window-background-color);
	color: var(--featuredApp-contacts-form-add-pop-up-window-color);
}

.close-popup-btn:hover {
	color: var(--featuredApp-contacts-form-add-pop-up-window-color);
}

.content-section {
	outline: none;
	border: none;
}

#manageColumns {
	width: 200px;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

#columnsList {
	list-style: none;
	padding: 0;

	input {
		transform: scale(1.5); /* Increase size: 1.5x */
		margin: 5px;
	}
}

#columnsList li {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  cursor: move;
  background-color: var(--featuredApp-contacts-form-add-pop-up-window-background-color);
}

#columnsList li {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #ddd;
	margin-bottom: 4px;
	cursor: move;
	background-color: var(--featuredApp-contacts-form-add-pop-up-window-background-color);

}